/* assets/fonts/fonts.css */
@font-face {
    font-family: 'Oswald';
    src: url('./Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  }
  